.main {
    margin: 0;
    padding: 0;
    background: url('./confluHomepagebg-min.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(5vh);
}
.wd{
    scroll-behavior: smooth;
			scroll-snap-align: start;
            scroll-snap-stop: always;
            overflow: hidden;

}

.container {

    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.home-container {
    position: relative;
    height: 100vw;
    width: 100vw;

}

.rotator {
    position: relative;
    width: 50vw;
    height: 50vw;
    margin-left: 44%;
}

#disc {
    z-index: 15;
    width: 155vh;
    position: absolute;
    margin-top: -25vh;

    animation: rotate 36s infinite linear;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        transform-origin: 51% 48.5%;
    }

    to {
        transform: rotate(360deg);
        transform-origin: 50.9% 48.6%;
    }
}

#conflutxt {
    z-index: 16;
    width: 210vh;
    position: absolute;
    margin-top: -24.5vh;

    margin-left: -7.6vw;

}

#theme {

    width: 40%;
    position: absolute;
    top: 14vh;
    left: 3vw;



}



@media only screen and (max-width: 600px) {
    .rotator {
        position: relative;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        left: 0;
        margin-left: 0;
        /* align-items: center;
        display: flex;
        justify-content: center; */

    }

    #disc {
        width: 160vw;
        bottom: -24%;
        transform: translateX(-51%);
        margin-left: -31vw;
        

    }

    #conflutxt {
        width: 110vh;
        bottom: 0;
        left: 50%;
        transform: translateX(-43.5%) translateY(22%);

    }

    #theme {

        width: 40vh;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }

    @keyframes shake {

        0%,
        100% {
            transform: translateX(-60%) translateY(0px);
        }

        33% {
            transform: translateX(-40%) translateY(0px);
        }

        66% {
            transform: translateX(-50%) translateY(40px);
        }
    }
}