.about-container{
    background: url('./aboutusbg.png');
    width: 100%;
    height: 100vh; 
     /* overflow: hidden; */
}
.aboutustext{
    width: 16%;
    z-index: 4;
    position: relative;
    top: -67vh;
    left: 12%;
   
   

}
.aboutusscreen{
    z-index: 3;
    width: 16vw;
    height: 16vw;
    position: relative;
    top: -60vh;
    left: -5%;

}

.console-pic{
    z-index: 2;
    height: 110vh;
    position: relative;
    left: -410px;
    
}
.backglow{
    z-index: 1;
    width: 37vw;
    position: relative;
    left: -53vw;
    top: -6vh;
    
}
.aboutuscontent{

    font-size: 28px;
    font-family: 'PT Sans', sans-serif;
    color: cyan;
    width: 60vw;
    position: relative;
    left: 35vw;
    top: -190vh;
    border: 1px solid white;
    padding: 19px;
    border-radius: 20px;
    margin-right: 0;
}
@media only screen and (max-width:600px){
    .console-pic{
        height: 50vh;
        position: relative;
        left: 13%;
        top: 50vh;
    }
    .aboutuscontent{
        width: 90vw;
        font-size: 20px;
        position: relative;
        top: -80vh;
        left: 5%;
    }
    .aboutustext{
        width: 26%;
       
        position: relative;
        top: 70vh;
        left: 35%;
    }
    .aboutusscreen{
       
        width: 26vw;
        height: 26vw;
        position: relative;
        top: 71vh;
        left: 9%;
    
    }
    
}
