.con-contain {
    background: url('./teamConflu.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;

}

.con-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 67%;
    margin-left: -2%;
    padding-left: 40px;

}

.con-card {
    width: 20.7vw;
    height: 20.7vw;
    margin: 30px;

    background-color: #fff;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 20px;
}

.con-image {
    width: 100%;
    height: 100%;
    transition: 0.5s;

}

.con-image img {
    width: 100%;
    height: 100%;
}

.con-image,
.con-top,
.con-bottom {
    position: relative;
}

.con-top {
    left: -100%;
    top: -100%;
    width: 100%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: rotate(-180deg);
    transition: 0.5s;
    transition-delay: 1s;
}

.con-bottom {
    right: -100%;
    bottom: 100%;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(180deg);
    transition: 0.5s;
    transition-delay: 1s;
    color: #fff;
}

.con-top div,
.con-bottom div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

}

.con-card:hover .top {
    left: 0;
    transform: rotate(0deg);
}

.con-card:hover .bottom {
    right: 0;
    transform: rotate(360deg);
}

.con-card:hover .image {
    transform: scale(2);
}

.con-heading {
    width: 60%;
    margin-left: 5%;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); 
      */

}

.con-title {
    margin-left: 5%;
    margin-top: 2%;
}

@media only screen and (max-width: 600px) {
    .con-contain {

        background-size: cover;
        background-position: bottom right;
    }

    .con-cards {
        margin-right: 0;
        width: 100vw;
       margin-left: 0;
        padding-left: 0;
    }

    .con-card {
        width: 60vw;
        height: 47.3vw;
    }

    .con-heading {
        width: 90%;
    }

    .con-title {
        margin-left: 5%;
        margin-top: 8%;
    }

    .con-top h1 {
        font-size: 25px;
    }
}

.t-card {
    padding: 20px;
    text-align: center;
}



.t-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.t-name {
    color: white;
    padding-top: 10px;
    font-family: 'Open Sans';
}

.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}