#gallerySlider{
    overflow: hidden;
}
.galleryGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#gallerySlider .galleryGrid{
    position: relative;
    width:500%;
    left:0;
    margin:0;
    animation: 10s slideAnimation infinite;
    background-color: #000;   
}

.galleryGridComm{
    border:solid 3px;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.galleryGridComm img{
    width: 50vw;
    height: 45vw;
    border-radius: 100px;
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
}
.galleryGridComm img:hover{
    filter: grayscale(100%);
    opacity: 0;
}


@keyframes slideAnimation{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left: -100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left: -400%;
    }
}