.grid {
    width: 75%;
    margin: auto;
    padding: 200px 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}

.g-item {
    border: 1px yellow solid;
    border-radius: 100%;
    padding: 30px;
    width: 100px;
    height: 100px;

}

.c-tape {
    transform: scale(0.3);

}