/* body {
    background: url('../../bg.jpg');
    background-size: 100%;
    margin: 0;
    padding: 0;

}
 */

.cards {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

}

.card {
    background-color: white;
    height: 310px;
    width: 310px;
    position: relative;
    margin: 30px;
    margin-top: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;



}

.info {
    height: 100%;
    width: 100%;

}

.name {
    font-size: 30px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    top: 150px;

    text-align: center;


}

.prof {
    font-size: 25px;
    position: relative;
    top: 160px;
    text-align: center;


}

.divider {
    background-color: #959495;
    height: 1.5px;
    width: 50px;
    position: relative;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);

}

.bio {
    position: absolute;
    top: 220px;
    color: #959495;
    text-align: center;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    line-height: 28px;
}

.photo {
    height: 100%;
    width: 100%;

    position: relative;
    bottom: 32.5%;
    background-size: 100% 100%;

    transition: 1s;

}

.card:hover .image {
    transform: scale(0.7) translateY(-200px);
    background-size: 150% 150%;
    background-position: 0 -25px;
    border-radius: 50%;
    transition: 1s;


}

.card:hover .photo .nameo {
    display: none;
}

.git-icon {
    position: relative;
    top: 190px;
    font-size: 32px;
    text-align: center;
}

.heading {
    font-size: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.image {
    height: 310px;
    width: 310px;
    border-radius: 8px;
    transition: 1s;
}