.sponsor-container{
    background-image: linear-gradient(to bottom right, #920563, #3d1369);
    background-attachment: fixed;
    height: auto;



}
.sponsor-head{
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
}


.title-head{
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

.title-img{
    width: 30vw;
    height: 30vw;
   margin-left: 35%;
}

.title-name{
   

    text-align: center;
    font-size: 120% ;
}
.online-head{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 450%;
}
/* #images{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

}
.onlineimg{
    margin: 20px;
    height: 20vw;
    width: 20vw;
}
#images h3{

    margin-top: -4%;
    text-align: center;
    font-size: 3vw;

} */
.online-sponsors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.online-single{
    width: 30%;
    margin-left: 2%;
    text-align: center;
}
.online-img{
    width:20vw;
    height: 20vw;
}
.online-name{
    
    margin-top: -2%;
    font-size: 30px;
    color: white;
}
@media only screen and ( max-width: 600px){
    .sponsor-head{
        width: 80%;
        margin-left: 10%;
        padding-top: 10px;

    }
    .title-head{
        font-size: 80%;
    }
    .title-name{
        font-size :50%
    }
    .online-head{
        font-size: 300%;
    }
    .onlineimg{
        margin: 0;
        height: 40vw;
        width: 40vw;
    }
        
    
    .online-single{
        width: 45%;
    }
    .online-img{
        height: 40vw;
        width: 40vw;
    }

    
    .online-name{
       
        margin-top: -2%;
        font-size: 17px;
    }
    .title-img{
        width: 50vw;
        height: 50vw;
       margin-left: 25%;
    }
}