.contain{
    background: url(developerPage.png);
    background-size: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.cards{
    display: flex;
    width: 67%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -3%;
    
    
}
.card{
    background-color: white;
    height: 250px;
    width: 250px;
    position: relative;
    margin: 30px;
    margin-top: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
   


}

.info{
   height: 100%;
   width: 100%;
   
}
.name{
    font-size: 30px;
    position: relative;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    top: 105px;
    
    text-align: center;
    
    
}
.prof{
    font-size: 25px;
    position: relative;
    top: 115px;
    text-align: center;


}
.divider{
    background-color: #959495;
    height: 1.5px;
    width: 50px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);

}

.photo{
    height: 100%;
    width: 100%;
    
    position: relative;
    bottom: 42%;
    background-size: 100% 100%;
   
    transition: 1s;

}
.card:hover .image{
    transform: scale(0.7) translateY(-200px);
    background-size: 150% 150%;
    background-position: 0 -25px; 
    border-radius: 50%;
    transition: 1s;


}
.card:hover .photo .nameo{
    display:none;
}
.git-icon{
    position: relative;
    top: 130px;
    font-size: 32px;
    text-align: center;
}
.heading{
    width: 60%;
    
    margin-left: 5%;
    margin-top: 2%;
}
.image{
    height: 250px;
    width: 250px;
    border-radius: 8px;
    transition: 1s;
}
.title{
    margin-top: 5%;
   
}
@media only screen and (max-width: 600px){
    .contain{
        
        background-size: cover;
        background-position: bottom right;
     }
    .cards{
        justify-content: center;
        margin-left: 15%; 
    }
    .card{
        width: 60vw;
        height: 60vw;
    }
    .image{
        width: 60vw;
        height: 60vw;
    }
    .photo{
        position: relative;
    bottom: 48%;
    }
    .git-icon{
        top:110px;
    }
    .divider{
        top: 105px;
    }
    .prof{
        top:98px;
    }
    .name{
        top:90px;
    }
    .card:hover .image{
    transform: scale(0.7) translateY(-170px);
    }
    .heading{
        width: 80%;
       margin-left: 10%;
      margin-top: 0%;
    }
    .title{
        margin-top: 10%;
       
    }
}
   